:root {
  --header-background: url("./img/header-background.jpg");
  --primary-color: #15B1EE;
  --background-400-color: #112444;
  --background-500-color: #0C172B;
}

body {
  background: var(--background-500-color);
  font-size: 18px;
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}

p {
  opacity: 0.7;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 100vh;
  background-image: var(--header-background);
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header__title {
  text-transform: uppercase;
  z-index: 1;
  font-size: 72px;
  white-space: nowrap;
  text-shadow: 1px 1px 10px #000000;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.header__secondary-title {
  overflow: hidden;
  z-index: 1;
  margin-top: 10px;
}

.header__secondary-title__text {
  color: var(--primary-color);
  font-size: 48px;
  text-transform: uppercase;
  margin: 0;
}

.header__pieces {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 400px;
}

 .header__piece {
   position: absolute;
   width: 100%;
   height: 100%;
 }

.header__piece__mask {
  background-image: var(--header-background);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__piece__shadow {
  position: absolute;
  box-shadow: 0 7px 30px 1px rgba(0, 0, 0, 0.45);
}

.intro-section {
  background: var(--background-500-color);
  text-align: center;
  padding: 100px 0 200px;
}

.section-title {
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  margin-top: 0;
}

.react-logo {
  margin: 30px auto 0;
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  animation: meat-spin 10s infinite linear;
}

.react-logo__ball {
  width: 14px;
  height: 14px;
  background: var(--primary-color);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.react-logo__oval {
  width: 80px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-color);
  opacity: 0.3;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.react-logo__oval--second {
  transform: rotate(60deg);
  left: 0;
  top: 25px;
}

.react-logo__oval--third {
  transform: rotate(-60deg);
  left: 0;
  top: 25px;
}

@keyframes meat-spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(359deg);}
}

.showcase-section {
  --skew-deg: 5deg;
  background: linear-gradient(var(--background-400-color), var(--background-500-color), var(--background-400-color));
  padding: 100px 0;
  transform: skew(0deg, calc(-1 * var(--skew-deg)));
  margin-top: -100px;
}

.showcase-section__content {
  transform: skew(0deg, var(--skew-deg));
}

.case {
  display: flex;
}

.case + .case {
  margin-top: 200px;
}

.case__images {
  position: relative;
  flex: 1;
  animation: float 6s ease-in-out infinite;
}

.case__image {
  width: 200px;
  position: absolute;
  left: 0;
  transform: rotate(-30deg);
  transition: all 400ms ease-out;
}

.case__normal-image {
  max-width: 100%;
  max-height: 400px;
}

.case__image:hover {
  cursor: pointer;
}

.case__image--active {
  transform: scale(1.3) rotate(0deg);
  left: 40px;
}

.case__image--hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px) rotate(-30deg);
}

.case__image-active {
  left: 50%;
  transform: rotate(0deg);
}

.case__details {
  flex: 1;
  padding-left: 40px;
}

.case__details--left {
  padding-left: 0;
  padding-right: 40px;
}

.case__title {
  font-size: 28px;
  margin-bottom: 0;
}

.case__features {
  padding-left: 25px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.contact-section {
  padding: 150px 0 100px;
}

.big-container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px;
}

.contact-container {
  display: flex;
}

.my-picture-container {
  flex: 1;
  position: relative;
  margin: 0;
}

.my-picture {
  max-width: 100%;
}

.contacts {
  flex: 2;
  padding-left: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("./img/helsinki-map.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.marker {
  --marker-size: 70px;
  width: var(--marker-size);
  height: var(--marker-size);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.map-ball {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  --size: 10px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: var(--primary-color);
  z-index: 1;
}

.pin-effect {
  width: var(--marker-size);
  height: var(--marker-size);
  position: absolute;
  top: 0;
  display: block;
  background: rgba(21, 177, 238, 0.3);
  border-radius: 50%;
  opacity: 0;
  animation: pulsate 2000ms ease-out infinite;
}

.pin-effect--delay {
  animation: pulsate 2000ms ease-out 450ms infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.my-picture__caption {
  --from-edge: 30px;
  background: var(--primary-color);
  position: absolute;
  bottom: var(--from-edge);
  right: calc(-1 * var(--from-edge));
  left: var(--from-edge);
  padding: 20px;
}

.contact {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}

.contact:hover::before {
  opacity: 1;
  transform: translateX(0);
}

.contact::before {
  margin-right: 10px;
  content: '{';
  transform: translateX(20px);
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

.contact:hover::after {
  opacity: 1;
  transform: translateX(0);
}

.contact::after {
  margin-left: 10px;
  content: '}';
  transform: translateX(-20px);
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

.contact__icon {
  font-size: 36px;
  width: 50px;
  text-align: center;
  margin-right: 10px;
  color: var(--primary-color);
}

.contact__title {
  font-size: 22px;
}